<div id="<%= dom_id worker %>">
  <p>
    <strong>First Name:</strong>
    <%= worker.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= worker.last_name %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= worker.phone_number %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= worker.job %>
  </p>

</div>
